html, body {
  height: 100vh;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.header {
  align-self: center;
  font-size: 90%;
  max-width: 90%;
}

.content {
  max-width: 260px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.shortened-link {
  display: block;
  text-align: center;
}

.error {
  border: 1px solid red;
  border-left-width: 8px;
  color: red;
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 16px;
}
